<div class="d-flex justify-content-center align-items-center w-100 h-100 bg-light p-4">
  <mat-card class="p-0 pb-4">
    <mat-card-header class="d-flex justify-content-center align-items-center">
      <mat-card-title>
        {{ 'Login.Title' | transloco }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="login-form" [formGroup]="form" #formReference="ngForm" (submit)="login()">
        <div class="d-flex justify-content-end p-4"  >
          <mat-spinner diameter="20" *ngIf="loadingAction$ | async"></mat-spinner>
        </div>
        <md-form-generator
          [form]="form"
          [formReference]="formReference"
          [fields]="fields"
          cssContainerClasses="row px-4"
        >
        </md-form-generator>

        <div
          class="d-flex justify-content-center text-danger p-2 font-weight-bold"
          *ngIf="errorAction$ | async as error"
        >
          {{ error | uppercase }}
        </div>

        <div class="d-flex justify-content-center">
          <button mat-flat-button color="primary" type="submit">
            {{ 'Login.Buttons.Enter' | transloco }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
