<mat-form-field [hidden]=" field.hidden$ | async" appearance="outline">
  <mat-label>{{field.label | transloco}}</mat-label>
  <mat-select [formControl]="control" [compareWith]="compareFn">
    <!-- <mat-option>Clear</mat-option> -->
    <ng-container *ngIf="field.options$ | async as options">
      <mat-option *ngFor="let option of options" [value]="option">{{option.label}}</mat-option>
    </ng-container>

  </mat-select>
  <mat-error *ngIf="error$ | async as error">{{ error | transloco}}</mat-error>
</mat-form-field>
