<div class="alert alert-danger mb-4" *ngIf="errors$ | async as errors">
  <ul>
    <li *ngFor="let error of errors">
      {{ error }}
    </li>
  </ul>
</div>
<form [formGroup]="form" #formReference="ngForm" (submit)="save()">
  <md-form-generator
    [form]="form"
    [formReference]="formReference"
    [fields]="fields"
    [displayContainerCheckboxs]="true"
  >
  </md-form-generator>
  <button #formBtn [hidden]="true" type="submit"></button>
</form>

<div *ngIf="(products$ | async).length === 0" class="alert alert-info">
  {{ 'Bill.SelectClient' | transloco }}
</div>
<md-bill-table
  *ngIf="(products$ | async).length > 0"
  [products$]="products$"
  [computeIVA$]="computeIVA$"
  [computePerception$]="computePerception$"
></md-bill-table>
