<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>{{ 'AppName' | transloco }}</mat-toolbar>
    <mat-nav-list>
      <h2 matSubheader>{{ 'Production' | transloco }}</h2>

      <ng-container *ngFor="let item of menuItems.productions">
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-list-item"
          *ngIf="item.userType === userType"
        >
          <mat-icon matListIcon> {{ item.icon }} </mat-icon>
          {{ item.title | transloco }}
        </a>
      </ng-container>

      <ng-container *ngIf="isAdministration()">
        <mat-divider></mat-divider>
        <h2 matSubheader>{{ 'Catalogs' | transloco }}</h2>
      </ng-container>

      <ng-container *ngFor="let item of menuItems.catalogs; first as isFirst">
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-list-item"
          *ngIf="item.userType === userType"
        >
          <mat-icon matListIcon> {{ item.icon }} </mat-icon>
          {{ item.title | transloco }}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      class="d-flex"
      [class]="(isHandset$ | async) ? 'justify-content-between' : 'justify-content-end'"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>{{'Login.Logout' | transloco}}</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
