<ng-container [ngSwitch]="field.fieldType">
  <md-input *ngSwitchCase="'Input'" [field]="field" [form]="form" [formReference]="formReference">
  </md-input>
  <md-datepicker *ngSwitchCase="'Datepicker'" [field]="field" [form]="form" [formReference]="formReference">
  </md-datepicker>
  <md-select *ngSwitchCase="'Select'" [field]="field" [form]="form" [formReference]="formReference"></md-select>
  <md-checkbox *ngSwitchCase="'Checkbox'" [field]="field" [form]="form"></md-checkbox>
  <md-radio *ngSwitchCase="'Radio'" [field]="field" [form]="form"></md-radio>
</ng-container>
