.data-table-container {
  height: 600px;
  overflow: auto;
}

.actions {
  mat-icon {
    cursor: pointer;
    user-select: none;
  }
}


.mat-column-product {
  flex: 0 0 250px;
}

button:focus {
  outline: none;
}

