<div class="data-table-container position-relative">
  <div
    [ngStyle]="{ 'max-height': '400px', position: 'relative' }"
    class="mat-table__wrapper mat-table__wrapper--dashboard mb-4 px-4"
  >
    <mat-table class="mb-4" [dataSource]="source$ | async">
      <ng-container *ngFor="let column of config.displayedColumns" [matColumnDef]="column">
        <ng-container *ngIf="column !== 'actions'">
          <mat-header-cell *matHeaderCellDef>
            {{ config.titles[column] | transloco }}
          </mat-header-cell>

          <mat-cell *matCellDef="let data">
            <div [ngSwitch]="config.controls[column]">
              <p *ngSwitchCase="'Select'">
                Select
              </p>
              <p *ngSwitchCase="'Input'">
                Input
              </p>
              <p *ngSwitchDefault>
                {{ data[column] }}
              </p>
            </div>
          </mat-cell>

          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>
        <ng-container *ngIf="column === 'actions'">
          <mat-header-cell *matHeaderCellDef>
            {{ config.titles[column] | transloco }}
          </mat-header-cell>

          <mat-cell *matCellDef="let data">
            <div class="actions d-flex justify-content-center align-items-center">
              <mat-icon color="warn">
                delete
              </mat-icon>
            </div>
          </mat-cell>

          <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
        </ng-container>
      </ng-container>

      <mat-header-row *matHeaderRowDef="config.displayedColumns; sticky: true"></mat-header-row>

      <mat-row *matRowDef="let row; columns: config.displayedColumns"></mat-row>
      <mat-footer-row *matFooterRowDef="config.displayedColumns; sticky: true"></mat-footer-row>
    </mat-table>
  </div>
</div>
