.data-table-container {
  height: 600px;
  overflow: auto;
}

.actions {
  mat-icon {
    cursor: pointer;
    user-select: none;
  }
}

.footer-text {
  color: #3f51b5;
}

.mat-column-product {
  flex: 0 0 250px;
}

button:focus {
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
