<ng-container *ngIf="loading$ | async ">
  Loading ...
</ng-container>
<ul>
  <li *ngFor="let user of users$ | async">
    {{user.username}}
  </li>
</ul>
<ng-container *ngIf="user$ | async as user">
  <h1>{{user.name | uppercase}}</h1>
</ng-container>
<ng-container *ngIf="error$ | async as result">
  <div *ngIf="result.translate">{{ result.message | transloco }}</div>
  <div *ngIf="!result.translate">{{ result.message }}</div>
</ng-container>
<div class="row justify-content-center">
  <div class="col-4">
    <form [formGroup]="form" novalidate (submit)="submit()" #myform="ngForm">
      <div class="row flex-column">
        <div class="col-12" *ngFor="let field of fields">
          <md-input [field]="field" [form]="form" [formReference]="myform">
          </md-input>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit">Aceptar</button>
      </div>
    </form>
  </div>
</div>
