<div class="alert alert-danger mb-4" *ngIf="errors$ | async as errors">
    <ul>
      <li *ngFor="let error of errors">
        {{error}}
      </li>
    </ul>
</div>
<form [formGroup]="form" #formReference="ngForm" (submit)="save()">
    <md-form-generator [form]="form" [formReference]="formReference" [fields]="fields" [displayContainerCheckboxs]="true">
    </md-form-generator>
    <button #formBtn [hidden]="true" type="submit"></button>
</form>
<ng-container *ngIf="!(hidden$|async)">
  <hr>
  <div class="d-flex flex-column align-items-center mt-4">
    <p>¿Desea dar por finalizada la órden de producción?</p>
    <div>
      <button mat-raised-button color="warn" (click)="updateFinishProduction()">{{ 'Buttons.Ok' | transloco }}</button>
    </div>
  </div>
</ng-container>