<form  class="mb-4" [formGroup]="form" #formReference="ngForm" (submit)="save()">
  <md-form-generator [form]="form" [formReference]="formReference" [fields]="fields" [displayContainerCheckboxs]="true"
    [displayContainerRadios]="true" cssContainerRadiosClasses='d-flex'>
  </md-form-generator>
  <div class="d-flex justify-content-center">
    <button mat-raised-button type="submit" color="primary">{{'Buttons.Save' | transloco}}</button>
  </div>
</form>

<md-data-table [dataSource$]="specialPrices$" [config]="tableConfig" (update)="update($event)">
</md-data-table>
