table {
  width: 100%;
}

.data-table-container {
  height: 400px;
  overflow: auto;
}

.actions {
  mat-icon {
    cursor: pointer;
    user-select: none;
  }
}

.icon-teal {
  color: teal;
}

.disable-icon {
  color: #1d1c1c25;
}
